<div class="container-card">
    <div class="container-close" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </div>
    <div class="container-id">
        <label>ID User: {{data.id}}</label>
    </div>

    <div class="container-date">
        <p class="title">Name:</p>
        <p class="desc">{{data.name}}</p>
        <p class="title">Email:</p>
        <p class="desc">{{data.email}}</p>
        <p class="title">Phone:</p>
        <p class="desc"> {{data.phone}}</p>
    </div>

    <div class="container-extras">
        <p class="title">Description:</p>
        <p class="desc">{{data.response.title}}</p>
    </div>
</div>