.container-table {
    width: 100%;
}

.container-filter {
    width: 50%;
    padding: 10px;
}

.container-filter .mat-mdc-form-field {
    width: 100% !important;
}

.container-table table {
    width: 100%;
}

td {
    cursor: pointer;
}